{ "openapi": "3.1.0", "info": { "title": "WeGive", "version": "0.0.1", "description": "In order to use this api, please obtain an integration API key from the WeGive Dashboard. If you do not have access to the WeGive Dashboard, please fill out our contact form at https:\/\/www.wegive.com\/demo-request and read the terms of use at https:\/\/www.wegive.com\/api-terms-of-use" }, "servers": [{ "url": "https:\/\/api.wegive.com\/api", "description": "Production" }, { "url": "https:\/\/api.sandbox.wegive.com\/api", "description": "Sandbox" }], "security": [{ "http": [] }], "paths": { "\/dashboard\/campaigns": { "get": { "operationId": "campaign.index", "tags": ["Campaign"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["general", "fundraiser", "event"] } }, { "name": "last_integration_status", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "import_id", "in": "query", "schema": { "type": "string" } }, { "name": "checkout", "in": "query", "schema": { "type": "string" } }, { "name": "pledge_create", "in": "query", "schema": { "type": "string" } }, { "name": "form", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "household_id", "in": "query", "schema": { "type": "string" } }, { "name": "salesforce_id", "in": "query", "schema": { "type": "string" } }, { "name": "virtuous_id", "in": "query", "schema": { "type": "string" } }, { "name": "neon_id", "in": "query", "schema": { "type": "string" } }, { "name": "crm_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "type": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "last_activity": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "net_donation_volume": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "recurring_donation_volume": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donation_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/campaigns\/{campaign}": { "get": { "operationId": "campaign.show", "tags": ["Campaign"], "parameters": [{ "name": "campaign", "in": "path", "required": true, "description": "The campaign ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CampaignViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CampaignViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/campaign-donors": { "get": { "operationId": "campaignDonor.index", "tags": ["CampaignDonor"], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } } } } }, "\/dashboard\/campaign-donors\/{campaignDonor}": { "get": { "operationId": "campaignDonor.show", "tags": ["CampaignDonor"], "parameters": [{ "name": "campaignDonor", "in": "path", "required": true, "description": "The campaign donor ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CampaignDonorViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CampaignDonorViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/campaign-events": { "get": { "operationId": "campaignEvent.index", "tags": ["CampaignEvent"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/campaign-events\/{campaignEvent}": { "get": { "operationId": "campaignEvent.show", "tags": ["CampaignEvent"], "parameters": [{ "name": "campaignEvent", "in": "path", "required": true, "description": "The campaign event ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CampaignEventViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CampaignEventViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/campaign-event-invitations": { "get": { "operationId": "campaignEventInvitation.index", "tags": ["CampaignEventInvitation"], "parameters": [{ "name": "campaign_event_id", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "email": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/campaign-event-registrations": { "get": { "operationId": "campaignEventRegistration.index", "tags": ["CampaignEventRegistration"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "created_at", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "transaction_id", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_event_id", "in": "query", "schema": { "type": "string" } }, { "name": "household_id", "in": "query", "schema": { "type": "string" } }, { "name": "custom_question_id", "in": "query", "schema": { "type": "string" } }, { "name": "status", "in": "query", "schema": { "type": ["string", "null"], "enum": ["approved", "rejected", "attended", "pending", "waitlisted", "unregistered"] } }, { "name": "has_waiver", "in": "query", "schema": { "type": ["string", "null"], "enum": ["true", "false"] } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "status": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "quantity": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/campaign-event-registrations\/{campaignEventRegistration}": { "get": { "operationId": "campaignEventRegistration.show", "tags": ["CampaignEventRegistration"], "parameters": [{ "name": "campaignEventRegistration", "in": "path", "required": true, "description": "The campaign event registration ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CampaignEventRegistrationViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CampaignEventRegistrationViewResource" } }, "required": ["data"] } } } }, "401": { "description": "An error", "content": { "application\/json": { "schema": { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Unauthenticated" } }, "required": ["message"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/campaign-fundraisers": { "get": { "operationId": "campaignFundraiser.index", "tags": ["CampaignFundraiser"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_fundraiser_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/campaign-fundraisers\/{campaignFundraiser}": { "get": { "operationId": "campaignFundraiser.show", "tags": ["CampaignFundraiser"], "parameters": [{ "name": "campaignFundraiser", "in": "path", "required": true, "description": "The campaign fundraiser ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CampaignFundraiserViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CampaignFundraiserViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/chats": { "get": { "operationId": "chat.index", "tags": ["Chat"], "responses": { "200": { "description": "Array of `ChatResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#\/components\/schemas\/ChatResource" } } }, "required": ["data"] } } } } } } }, "\/dashboard\/chats\/{chat}": { "get": { "operationId": "chat.show", "tags": ["Chat"], "parameters": [{ "name": "chat", "in": "path", "required": true, "description": "The chat ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`ChatResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/ChatResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/checkouts": { "get": { "operationId": "checkout.index", "tags": ["Checkout"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_id", "in": "query", "schema": { "type": "string" } }, { "name": "fund", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_event", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "campaign_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "donation_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "scheduled_donation_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "revenue", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "campaign_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donation_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "scheduled_donation_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "revenue": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/checkouts\/{checkout}": { "get": { "operationId": "checkout.show", "tags": ["Checkout"], "parameters": [{ "name": "checkout", "in": "path", "required": true, "description": "The checkout ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CheckoutViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CheckoutViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/checkout-sessions": { "get": { "operationId": "checkoutSession.index", "tags": ["CheckoutSession"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "last_step", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "checkout", "in": "query", "schema": { "type": "string" } }, { "name": "message_id", "in": "query", "schema": { "type": "string" } }, { "name": "message_communication_list", "in": "query", "schema": { "type": "string" } }, { "name": "conversion_type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["transaction", "scheduled_donation", "both", "none"] } }, { "name": "checkout_type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["regular", "single_page"] } }, { "name": "has_intent", "in": "query", "schema": { "type": "string" } }, { "name": "preauth", "in": "query", "schema": { "type": "string" } }, { "name": "existing_pm", "in": "query", "schema": { "type": "string" } }, { "name": "iframe", "in": "query", "schema": { "type": "string" } }, { "name": "tracking_url", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_event", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_test", "in": "query", "schema": { "type": "string" } }, { "name": "message_journey", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/checkout-sessions\/{checkoutSession}": { "get": { "operationId": "checkoutSession.show", "tags": ["CheckoutSession"], "parameters": [{ "name": "checkoutSession", "in": "path", "required": true, "description": "The checkout session ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CheckoutSessionViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CheckoutSessionViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/checkout-session-events": { "get": { "operationId": "checkoutSession.indexEvents", "tags": ["CheckoutSession"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "step", "in": "query", "schema": { "type": ["string", "null"], "enum": ["GIVING_STEP", "CONVERSION_STEP", "BASIC_STEP", "FINANCIAL_STEP", "CONFIRMATION_STEP", "UPDATE_DETAILS_STEP", "RECEIPT_STEP", "CUSTOM_QUESTION_STEP"] } }, { "name": "last_step", "in": "query", "schema": { "type": ["string", "null"], "enum": ["none", "GIVING_STEP", "CONVERSION_STEP", "BASIC_STEP", "FINANCIAL_STEP", "CONFIRMATION_STEP", "UPDATE_DETAILS_STEP", "CUSTOM_QUESTION_STEP"] } }, { "name": "checkout", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_type", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_session_id", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_event", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_test", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "session": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/checkout-tests": { "get": { "operationId": "checkoutTest.index", "tags": ["CheckoutTest"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "has_checkout", "in": "query", "schema": { "type": "string" } }, { "name": "status", "in": "query", "schema": { "type": ["string", "null"], "enum": ["draft", "live", "complete"] } }, { "name": "slug", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_sessions": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/checkout-tests\/{checkoutTest}": { "get": { "operationId": "checkoutTest.show", "tags": ["CheckoutTest"], "parameters": [{ "name": "checkoutTest", "in": "path", "required": true, "description": "The checkout test ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CheckoutTestViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CheckoutTestViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/communication-lists\/{cl}\/subscribe": { "post": { "operationId": "communicationList.publicSubscribe", "tags": ["CommunicationList"], "parameters": [{ "name": "cl", "in": "path", "required": true, "description": "The cl ID", "schema": { "type": "integer" } }], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "type": { "type": "string", "enum": ["individual", "company"] }, "email": { "type": "string", "format": "email" }, "first_name": { "type": ["string", "null"] }, "last_name": { "type": ["string", "null"] }, "phone": { "type": ["string", "null"] } }, "required": ["type", "email"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean" } }, "required": ["success"] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/communication-lists": { "get": { "operationId": "communicationList.index", "tags": ["CommunicationList"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "import_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "supporter_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "automations_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "supporters": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "automations": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/communication-lists\/{cl}": { "get": { "operationId": "communicationList.show", "tags": ["CommunicationList"], "parameters": [{ "name": "cl", "in": "path", "required": true, "description": "The cl ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CommunicationListViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CommunicationListViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/communication-list-donors": { "get": { "operationId": "communicationListDonor.index", "tags": ["CommunicationListDonor"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "communication_list", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "message_id", "in": "query", "schema": { "type": "string" } }, { "name": "subscribed", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "journey", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "updated_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "subscribed": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/custom-email-domains": { "get": { "operationId": "customEmailDomain.index", "tags": ["CustomEmailDomain"], "responses": { "200": { "description": "Array of `CustomEmailDomainViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#\/components\/schemas\/CustomEmailDomainViewResource" } } }, "required": ["data"] } } } } } } }, "\/dashboard\/custom-email-domains\/{customEmailDomain}": { "get": { "operationId": "customEmailDomain.show", "tags": ["CustomEmailDomain"], "parameters": [{ "name": "customEmailDomain", "in": "path", "required": true, "description": "The custom email domain ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CustomEmailDomainViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CustomEmailDomainViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/custom-fields": { "get": { "operationId": "customField.index", "tags": ["CustomField"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "model", "in": "query", "schema": { "type": ["string", "null"], "enum": ["donor", "transaction", "household"] } }, { "name": "type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["static", "computed"] } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/custom-fields\/{customField}": { "get": { "operationId": "customField.show", "tags": ["CustomField"], "parameters": [{ "name": "customField", "in": "path", "required": true, "description": "The custom field ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`CustomFieldResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/CustomFieldResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/custom-questions": { "get": { "operationId": "customQuestion.index", "tags": ["CustomQuestion"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "owner_type", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_event_id", "in": "query", "schema": { "type": "string" } }, { "name": "form_id", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_id", "in": "query", "schema": { "type": "string" } }, { "name": "pledge_create_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/custom-questions\/answers": { "get": { "operationId": "customQuestion.indexAnswers", "tags": ["CustomQuestion"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "owner_type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["donor", "form_submission", "transaction", "user", "campaign_event_registration"] } }, { "name": "campaign_event_id", "in": "query", "schema": { "type": "string" } }, { "name": "form_id", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "checkout_id", "in": "query", "schema": { "type": "string" } }, { "name": "pledge_create_id", "in": "query", "schema": { "type": "string" } }, { "name": "custom_question_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "answer": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "owner_type": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/model-archive": { "delete": { "operationId": "dashboard.archiveModels", "description": "Refer to the associated models to get the list of supported filters.", "summary": "Archive model(s)", "tags": ["Dashboard"], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "model_type": { "type": "string", "enum": ["redirect", "campaign_event_invitation", "campaign_fundraiser", "communication_list", "communication_list_donor", "campaign_event", "comment", "category", "custom_field", "givelist", "organization", "post", "user", "card", "bank", "fundraiser", "fund", "designation_list", "donor", "address", "impact_number", "transaction", "scheduled_donation", "household", "checkout", "message_template", "custom_question", "campaign", "salesforce_integration", "donor_perfect_integration", "login", "neon_integration", "virtuous_integration", "planning_center_integration", "p2p_preset", "message", "journey", "journey_step", "donor_journey", "campaign_event_registration", "tag", "form", "form_submission", "pledge_create", "pledge", "email_template", "message_donor", "bloomerang_integration", "integration_logs_ignored", "payout", "ccb_integration", "checkout_session", "rss_feed", "checkout_test", "campaign_donor", "soft_credit", "fund_allocation", "file", "note", "raisers_edge_integration", "scheduled_export"] }, "ids": { "type": "array", "items": { "type": "string" } }, "all": { "type": "boolean" }, "filters": { "type": "array", "items": { "type": "string" } } }, "required": ["model_type", "all"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "500": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Class not found" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Model must have organization relationship" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Organization must be specified" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Cannot archive message used in journey step, please archive journey step first." } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Unable to archive this model" } }, "required": ["message"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/model-restore": { "put": { "operationId": "dashboard.restoreModels", "description": "Refer to the associated models to get the list of supported filters.", "summary": "Restore model(s)", "tags": ["Dashboard"], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "model_type": { "type": "string", "enum": ["redirect", "campaign_event_invitation", "campaign_fundraiser", "communication_list", "communication_list_donor", "campaign_event", "comment", "category", "custom_field", "givelist", "organization", "post", "user", "card", "bank", "fundraiser", "fund", "designation_list", "donor", "address", "impact_number", "transaction", "scheduled_donation", "household", "checkout", "message_template", "custom_question", "campaign", "salesforce_integration", "donor_perfect_integration", "login", "neon_integration", "virtuous_integration", "planning_center_integration", "p2p_preset", "message", "journey", "journey_step", "donor_journey", "campaign_event_registration", "tag", "form", "form_submission", "pledge_create", "pledge", "email_template", "message_donor", "bloomerang_integration", "integration_logs_ignored", "payout", "ccb_integration", "checkout_session", "rss_feed", "checkout_test", "campaign_donor", "soft_credit", "fund_allocation", "file", "note", "raisers_edge_integration", "scheduled_export"] }, "ids": { "type": "array", "items": { "type": "string" } }, "all": { "type": "boolean" }, "filters": { "type": "array", "items": { "type": "string" } } }, "required": ["model_type", "all"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "500": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Class not found" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Model must have organization relationship" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Organization must be specified" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Unable to restore this model" } }, "required": ["message"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/model-resync": { "post": { "operationId": "dashboard.resyncModels", "tags": ["Dashboard"], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "model_type": { "type": "string" }, "ids": { "type": "array", "items": { "type": "string" } }, "all": { "type": "boolean" }, "filters": { "type": "array", "items": { "type": "string" } } }, "required": ["model_type", "all"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "object" } } } }, "500": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Class not found" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Model must have organization relationship" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Organization must be specified" } }, "required": ["message"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/model-tag-donors": { "post": { "operationId": "dashboard.tagModelDonors", "tags": ["Dashboard"], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "model_type": { "type": "string" }, "ids": { "type": "array", "items": { "type": "string" } }, "all": { "type": "boolean" }, "filters": { "type": "array", "items": { "type": "string" } }, "tags": { "type": "array", "items": { "type": "string" } }, "untag": { "type": "boolean" } }, "required": ["model_type", "all", "tags"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "500": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Class not found" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Model must have organization relationship" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "Organization must be specfified" } }, "required": ["message"] }, { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview." } }, "required": ["message"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" } } } }, "\/dashboard\/designation-lists": { "get": { "operationId": "designationList.index", "tags": ["DesignationList"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "designation", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/designation-lists\/{designationList}": { "get": { "operationId": "designationList.show", "tags": ["DesignationList"], "parameters": [{ "name": "designationList", "in": "path", "required": true, "description": "The designation list ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`DesignationListViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/DesignationListViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/domain-aliases": { "get": { "operationId": "domainAlias.index", "tags": ["DomainAlias"], "responses": { "200": { "description": "Array of `DomainAliasResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#\/components\/schemas\/DomainAliasResource" } } }, "required": ["data"] } } } } } } }, "\/dashboard\/donors": { "get": { "operationId": "donor.index", "tags": ["Donor"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived", "both"] } }, { "name": "type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["individual", "company", "recurring", "both"] } }, { "name": "campaign_fundraiser_id", "in": "query", "schema": { "type": "string" } }, { "name": "do_not_contact", "in": "query", "schema": { "type": "string" } }, { "name": "import_id", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "pledge_create", "in": "query", "schema": { "type": "string" } }, { "name": "form_id", "in": "query", "schema": { "type": "string" } }, { "name": "form", "in": "query", "schema": { "type": "string" } }, { "name": "tag", "in": "query", "schema": { "type": "string" } }, { "name": "impact_number_id", "in": "query", "schema": { "type": "string" } }, { "name": "post", "in": "query", "schema": { "type": "string" } }, { "name": "frequency", "in": "query", "schema": { "type": "string" } }, { "name": "recurring", "in": "query", "schema": { "type": ["string", "null"], "enum": ["true", "false", "1", "0"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "email_1", "in": "query", "schema": { "type": "string" } }, { "name": "last_integration_status", "in": "query", "schema": { "type": "string" } }, { "name": "duplicates", "in": "query", "schema": { "type": "string" } }, { "name": "is_marketing", "in": "query", "schema": { "type": "string" } }, { "name": "designation", "in": "query", "schema": { "type": "string" } }, { "name": "fundraiser", "in": "query", "schema": { "type": "string" } }, { "name": "checkout", "in": "query", "schema": { "type": "string" } }, { "name": "journey", "in": "query", "schema": { "type": "string" } }, { "name": "salesforce_id", "in": "query", "schema": { "type": "string" } }, { "name": "salesforce_account_id", "in": "query", "schema": { "type": "string" } }, { "name": "neon_id", "in": "query", "schema": { "type": "string" } }, { "name": "neon_account_id", "in": "query", "schema": { "type": "string" } }, { "name": "planning_center_id", "in": "query", "schema": { "type": "string" } }, { "name": "bloomerang_id", "in": "query", "schema": { "type": "string" } }, { "name": "virtuous_id", "in": "query", "schema": { "type": "string" } }, { "name": "dp_id", "in": "query", "schema": { "type": "string" } }, { "name": "message", "in": "query", "schema": { "type": "string" } }, { "name": "message_campaign", "in": "query", "schema": { "type": "string" } }, { "name": "message_journey", "in": "query", "schema": { "type": "string" } }, { "name": "crm_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "donated_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "communication_list", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": ["string", "null"] }, "subscribed": { "type": ["string", "null"] } } } }, { "name": "total_given", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "total_given_this_year", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donor": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "email": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "enabled": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_given": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_given_this_year": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "last_donation": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/donors\/find-or-create": { "post": { "operationId": "donor.findOrCreate", "tags": ["Donor"], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "type": { "type": "string", "enum": ["individual", "company"] }, "email": { "type": "string", "format": "email" }, "first_name": { "type": ["string", "null"] }, "last_name": { "type": ["string", "null"] }, "phone": { "type": ["string", "null"] }, "address": { "type": ["array", "null"], "items": { "type": "string" } } }, "required": ["type", "email"] } } } }, "responses": { "200": { "description": "`DonorViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/DonorViewResource" } }, "required": ["data"] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" } } } }, "\/dashboard\/donors\/{donor}\/ask-ai": { "post": { "operationId": "donor.askAi", "tags": ["Donor"], "parameters": [{ "name": "donor", "in": "path", "required": true, "description": "The donor ID", "schema": { "type": "integer" } }], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "question": { "type": "string" }, "history": { "type": ["array", "null"], "items": { "type": "string" } } }, "required": ["question"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "403": { "description": "An error", "content": { "application\/json": { "schema": { "type": "object", "properties": { "message": { "type": "string", "description": "Error overview.", "example": "AI is not enabled for this organization" } }, "required": ["message"] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/donors\/{donor}": { "get": { "operationId": "donor.show", "tags": ["Donor"], "parameters": [{ "name": "donor", "in": "path", "required": true, "description": "The donor ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`DonorViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/DonorViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/donor-logins": { "get": { "operationId": "donorLogin.index", "tags": ["DonorLogin"], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } } } } }, "\/dashboard\/email-templates": { "get": { "operationId": "emailTemplate.index", "tags": ["EmailTemplate"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "updated_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/email-templates\/{emailTemplate}": { "get": { "operationId": "emailTemplate.show", "tags": ["EmailTemplate"], "parameters": [{ "name": "emailTemplate", "in": "path", "required": true, "description": "The email template ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`EmailTemplate`", "content": { "application\/json": { "schema": { "$ref": "#\/components\/schemas\/EmailTemplate" } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/events": { "get": { "operationId": "event.index", "tags": ["Event"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "model", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/events\/{event}": { "get": { "operationId": "event.show", "tags": ["Event"], "parameters": [{ "name": "event", "in": "path", "required": true, "description": "The event ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`EventViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/EventViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/exports": { "get": { "operationId": "export.index", "tags": ["Export"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "model_type", "in": "query", "schema": { "type": "string" } }, { "name": "status", "in": "query", "schema": { "type": ["string", "null"], "enum": ["processing", "processed"] } }, { "name": "scheduled_report", "in": "query", "schema": { "type": "string" } }, { "name": "export_id", "in": "query", "schema": { "type": "string" } }, { "name": "has_scheduled_report", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "row_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "total", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "created_at", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "row_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/files": { "get": { "operationId": "file.index", "summary": "Get a listing of files", "tags": ["File"], "parameters": [{ "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "fileable_type", "in": "query", "schema": { "type": "string" } }, { "name": "fileable_id", "in": "query", "schema": { "type": "string" } }, { "name": "user_id", "in": "query", "schema": { "type": "string" } }, { "name": "name", "in": "query", "schema": { "type": "string" } }, { "name": "user_name", "in": "query", "schema": { "type": "string" } }, { "name": "file_key", "in": "query", "schema": { "type": "string" } }, { "name": "mime_type", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/files\/{file}": { "get": { "operationId": "file.show", "summary": "Show a specific file", "tags": ["File"], "parameters": [{ "name": "file", "in": "path", "required": true, "description": "The file ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`FileResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/FileResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/forms": { "get": { "operationId": "form.index", "tags": ["Form"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "campaign_id", "in": "query", "schema": { "type": "string" } }, { "name": "fund", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "campaign_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "submission_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "donor_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "campaign_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "submission_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donor_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/forms\/{form}": { "get": { "operationId": "form.show", "tags": ["Form"], "parameters": [{ "name": "form", "in": "path", "required": true, "description": "The form ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`FormResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/FormResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/form-submissions": { "get": { "operationId": "formSubmission.index", "tags": ["FormSubmission"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "form_id", "in": "query", "schema": { "type": "string" } }, { "name": "form", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "date", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "answer_count", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "date": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donor": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "answer_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/form-submissions\/{formSubmission}": { "get": { "operationId": "formSubmission.showSubmission", "tags": ["FormSubmission"], "parameters": [{ "name": "formSubmission", "in": "path", "required": true, "description": "The form submission ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`FormSubmissionViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/FormSubmissionViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/funds": { "get": { "operationId": "fund.index", "tags": ["Fund"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "archived", "active"] } }, { "name": "type", "in": "query", "schema": { "type": "string" } }, { "name": "import_id", "in": "query", "schema": { "type": "string" } }, { "name": "designation_list", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "code", "in": "query", "schema": { "type": "string" } }, { "name": "last_integration_status", "in": "query", "schema": { "type": "string" } }, { "name": "salesforce_id", "in": "query", "schema": { "type": "string" } }, { "name": "planning_center_id", "in": "query", "schema": { "type": "string" } }, { "name": "bloomerang_id", "in": "query", "schema": { "type": "string" } }, { "name": "virtuous_id", "in": "query", "schema": { "type": "string" } }, { "name": "dp_id", "in": "query", "schema": { "type": "string" } }, { "name": "crm_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "total_given", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "total_given_this_year", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_given": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_given_this_year": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "last_activity": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/funds\/{fund}": { "get": { "operationId": "fund.show", "tags": ["Fund"], "parameters": [{ "name": "fund", "in": "path", "required": true, "description": "The fund ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`FundResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/FundResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/fund-allocations": { "get": { "operationId": "fundAllocation.index", "tags": ["FundAllocation"], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } } } } }, "\/dashboard\/fundraisers": { "get": { "operationId": "fundraiser.index", "tags": ["Fundraiser"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived", "ended"] } }, { "name": "campaign_fundraiser_id", "in": "query", "schema": { "type": "string" } }, { "name": "name", "in": "query", "schema": { "type": "string" } }, { "name": "p2p_preset", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "owner_id", "in": "query", "schema": { "type": "string" } }, { "name": "household_id", "in": "query", "schema": { "type": "string" } }, { "name": "last_integration_status", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "start_date", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "expiration", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "total_raised", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "goal", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "start_date": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "goal": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "created_at": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "expiration": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "owner": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_raised": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "total_donors": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/fundraisers\/{fundraiser}": { "get": { "operationId": "fundraiser.show", "tags": ["Fundraiser"], "parameters": [{ "name": "fundraiser", "in": "path", "required": true, "description": "The fundraiser ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`FundraiserViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/FundraiserViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/households": { "get": { "operationId": "household.index", "tags": ["Household"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "name", "in": "query", "schema": { "type": "string" } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "salesforce_id", "in": "query", "schema": { "type": "string" } }, { "name": "crm_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "members", "in": "query", "schema": { "type": "object", "properties": { "start": { "type": ["string", "null"] }, "end": { "type": ["string", "null"] } } } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "members": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/households\/{household}": { "get": { "operationId": "household.show", "tags": ["Household"], "parameters": [{ "name": "household", "in": "path", "required": true, "description": "The household ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`HouseholdViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/HouseholdViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/impact-numbers": { "get": { "operationId": "impactNumber.index", "tags": ["ImpactNumber"], "parameters": [{ "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "published", "in": "query", "schema": { "type": "string" } }, { "name": "donor_id", "in": "query", "schema": { "type": "string" } }, { "name": "household_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "published": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "static": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "update_date": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "individuals": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/impact-numbers\/{impactNumber}": { "get": { "operationId": "impactNumber.show", "tags": ["ImpactNumber"], "parameters": [{ "name": "impactNumber", "in": "path", "required": true, "description": "The impact number ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`ImpactNumberResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/ImpactNumberResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/imports": { "get": { "operationId": "import.index", "tags": ["Import"], "parameters": [{ "name": "type", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "donor", "campaign", "donation", "fund", "recurring-donation", "pledge"] } }, { "name": "status", "in": "query", "schema": { "type": ["string", "null"], "enum": ["completed", "pending", "running"] } }, { "name": "action", "in": "query", "schema": { "type": ["string", "null"], "enum": ["insert", "update"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "date": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "failed_lines": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "imported_lines": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/imports\/{import}": { "get": { "operationId": "import.show", "tags": ["Import"], "parameters": [{ "name": "import", "in": "path", "required": true, "description": "The import ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`ImportResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/ImportResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/journeys": { "get": { "operationId": "journey.index", "tags": ["Journey"], "parameters": [{ "name": "campaign", "in": "query", "schema": { "type": "string" } }, { "name": "view", "in": "query", "schema": { "type": ["string", "null"], "enum": ["all", "active", "archived"] } }, { "name": "search", "in": "query", "schema": { "type": "string" } }, { "name": "has_event_id", "in": "query", "schema": { "type": "string" } }, { "name": "page", "in": "query", "schema": { "type": "number" } }, { "name": "count", "in": "query", "schema": { "type": "number", "maximum": 200 } }, { "name": "sort", "in": "query", "schema": { "type": "object", "properties": { "id": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "name": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "status": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] }, "donor_count": { "type": "string", "enum": ["asc", "desc", "ASC", "DESC"] } } } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "anyOf": [{ "type": "string" }, { "type": "object", "properties": { "data": { "type": "string" }, "search_mode": { "type": "boolean" }, "pagination": { "type": "boolean" }, "sort": { "type": "boolean" }, "meta": { "type": "object", "properties": { "total": { "type": "string" }, "current_page": { "type": "integer", "example": 1 }, "last_page": { "type": "integer", "example": 1 }, "per_page": { "type": "integer", "example": 25 }, "from": { "type": "integer", "example": 1 }, "to": { "type": "integer", "example": 0 } }, "required": ["total", "current_page", "last_page", "per_page", "from", "to"] } }, "required": ["data", "search_mode", "pagination", "sort", "meta"] }] } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "403": { "$ref": "#\/components\/responses\/AuthorizationException" } } } }, "\/dashboard\/journeys\/{journey}": { "get": { "operationId": "journey.show", "tags": ["Journey"], "parameters": [{ "name": "journey", "in": "path", "required": true, "description": "The journey ID", "schema": { "type": "integer" } }], "responses": { "200": { "description": "`JourneyViewResource`", "content": { "application\/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#\/components\/schemas\/JourneyViewResource" } }, "required": ["data"] } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/journeys\/{journey}\/add-donors": { "post": { "operationId": "journey.addDonors", "tags": ["Journey"], "parameters": [{ "name": "journey", "in": "path", "required": true, "description": "The journey ID", "schema": { "type": "integer" } }], "requestBody": { "content": { "application\/json": { "schema": { "type": "object", "properties": { "ids": { "type": "array", "items": { "type": "string" } }, "all": { "type": "boolean" }, "filters": { "type": "array", "items": { "type": "string" } }, "journey_step_id": { "type": "number" } }, "required": ["all", "journey_step_id"] } } } }, "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "422": { "$ref": "#\/components\/responses\/ValidationException" }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" } } } }, "\/dashboard\/custom-email-domains\/{customEmailDomain}\/bounces": { "get": { "operationId": "mailgun.getBounces", "tags": ["Mailgun"], "parameters": [{ "name": "customEmailDomain", "in": "path", "required": true, "description": "The custom email domain ID", "schema": { "type": "integer" } }, { "name": "page", "in": "query", "schema": { "type": ["integer", "null"], "minimum": 1 } }, { "name": "limit", "in": "query", "schema": { "type": ["integer", "null"], "minimum": 1, "maximum": 100 } }, { "name": "search", "in": "query", "schema": { "type": ["string", "null"] } }, { "name": "override", "in": "query", "schema": { "type": ["string", "null"] } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" }, "422": { "$ref": "#\/components\/responses\/ValidationException" } } } }, "\/dashboard\/custom-email-domains\/{customEmailDomain}\/complaints": { "get": { "operationId": "mailgun.getComplaints", "tags": ["Mailgun"], "parameters": [{ "name": "customEmailDomain", "in": "path", "required": true, "description": "The custom email domain ID", "schema": { "type": "integer" } }, { "name": "page", "in": "query", "schema": { "type": ["integer", "null"], "minimum": 1 } }, { "name": "limit", "in": "query", "schema": { "type": ["integer", "null"], "minimum": 1, "maximum": 100 } }, { "name": "search", "in": "query", "schema": { "type": ["string", "null"] } }, { "name": "override", "in": "query", "schema": { "type": ["string", "null"] } }], "responses": { "200": { "description": "", "content": { "application\/json": { "schema": { "type": "string" } } } }, "404": { "$ref": "#\/components\/responses\/ModelNotFoundException" }, "422": { "$ref": "#\/components\/responses\/ValidationException" } } } }, "\/dashboard\/custom-email-domains\/{customEmailDomain}\/unsubscr
[...]
